.courses {
    &__course {
    	width: 100%;
    	display: inline-block;
    	border-bottom: 1px solid white;
    	object-fit: contain;
        padding: 50px 0;

    	@mixin atMedium {
    		width: 32%;
    		border-bottom: 0;
            padding: 0 0 100px 0;
        }

        @mixin atLarge {
    		width: 33%;
        }

        & a {
            z-index: 1;
        }

        img {
		    max-width: 100%;
		    height: auto;

        	@mixin atMedium {
        		max-width: 80%;
		    	height: auto;
                margin-top: -50px;
        	}

        	@mixin atLarger {
        		max-width: 100%;
		    	height: auto;
        	}
        }


    }
}