.language-course {
    padding-bottom: 50px;
    padding-top: 50px;

    @mixin atMedium2 {
        padding-bottom: 100px;
        padding-top: 100px;
    }

    &__course {
            display: block;
            margin-bottom: 10px;

            span {
                font-family: 'Proxima Nova Bl', Georgia, sans-serif;
            }
        }

    &__content {
        max-width: 800px;
        margin-right: auto;
        margin-left: auto;        
    }

    &--underline {
        border-bottom: 2px solid $mainGrey;
    }

    a, a:link, a:visited, a:active {
                color: $mainOrange;
                text-decoration: none;
            }

}