.site-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    transition: all .3s ease-out;

    &--background {
        background-color: #fff;
        padding: 5px 0;

        @mixin atMedium {
            padding: 0;
        }
    }

    &__logo {
        flex: 3;
        text-align: center;
        transition: transform .3s ease-out;


        .site-header--background & {
            @mixin atMedium {
            transform: scale(.8);
            transform-origin: 0;
            }

            @mixin atLarge {
            transform: scale(.7);
            transform-origin: 0;
            }
        }
        
        @mixin atMedium {
            float: none;
            flex: 5;
            text-align: left;
            padding-left: 50px;
        }

        @mixin atMedium2 {
            float: none;
            flex: 4;
        }

        @mixin atLarge {
            flex: 4;
            text-align: left;
            padding-left: 50px;
        }

        img {
            width: 80px;
            height: auto;

            @mixin atMedium {
                width: 120px;
                height: auto;
            }

            @mixin atLarge {
                width: 154px;
                height: auto;
            }
        }
    }

    &__info {
        display: none;

        @mixin atMedium {
            display: flex;
            flex: 4;
        }

        @mixin atMedium2 {
            display: flex;
            flex: 6;
        }

        @mixin atLarge {
            flex: 4;
        }

        &--icon-background {
            background: no-repeat;
        }

        &--adress {
            text-decoration: none;
            flex: 1;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover pop-area{
                opacity: 1
            }

            &:link, &:visited, &:active {
                color: $mainBlue;
            }

            @mixin atMedium2 {
                flex: 2;
            }

            &:hover {
                transition: all 0.3s ease-in-out;
            }
        }

        &--location {
            display: none;

            @mixin atMedium2 {
                margin-left: 10px;
                display: block;
            }
        }

        &--phone {
            text-decoration: none;
            flex: 1;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover pop-area{
                opacity: 1
            }
            

            &:link, &:visited, &:active {
                color: $mainBlue;
            }

            @mixin atMedium2 {
                flex: 2;
            }

            &:hover {
                transition: all 0.3s ease-in-out;
            }

            a {
                display: block;
            }
        }

        &--number {
            display: none;
            
            @mixin atMedium2 {
                margin-left: 10px;
                display: block;
            }
        }

        & pop-area{
            display: flex;
            align-items: center;
            align-content: center;
            position: absolute;
            width: 8rem;
            height: 2.5rem;
            top: 100px;
            padding: 5px 10px;
            font-size: 1rem;
            background-color: $mainBlue;
            color: #fff;
            opacity: 0;
            transition: all .3s ease-in-out;
        }

        & pop-area span{
            width:100%;
            text-align: center;
        }

        & pop-area:before{
            content: '';
            border-color: $mainBlue transparent;
            border-style: solid;
            border-width: 0px 14px 14px;
            position: absolute;
            top: -14px;
            left: calc(50% - 12px);
        }

        &--button {
            flex: 2;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                text-decoration: none;
            }
        }   
    }

    .right-helper {
        flex: 1;

        @mixin atMedium {
            flex: 0;
        }

        @mixin atLarge {
            flex: 1;
        }
    }
}

.social {
    display: none;
    
    @mixin atLarge {
        transform: rotate(-90deg);
        position: fixed;
        height: 10vw;
        bottom: -50px;
        left: 0;
        display: flex;
        transform-origin: 30px 30px;
        z-index: 1;

        &__text {
            display: none;
                
            @mixin atMedium2 {
                margin-left: 5px;
                display: block;
                transition: all 0.2s linear;
                text-align: left;
                line-height: .8rem;
            }
        }
    }
    
    &__net {
        text-decoration: none;
        flex: 1;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover span {
            color: $mainOrange;
            transition: all 0.2s linear;
            }

        &:link, &:visited, &:active {
            color: $mainBlue;
            }

        &--margin {
            margin-left: 20px;
            }

        &--margin-double {
            margin-left: 50px;
            }
        }
    }   


.left-side-line {
    display: none;

    @mixin atLarge {
        height: 100vh;
        width: 10%;
        background-color: $mainGrey;
        position: fixed;
        left: 0;
        display: block;
    }
}

.right-side-line {
    display: none;

    @mixin atLarge {
    	height: 100vh;
    	width: 10%;
    	background-color: $mainGrey;
    	position: fixed;
    	right: 0;
    	display: block;
    }
}

