.services {
	display: flex;
	flex-direction: column;
	color: white;

	@mixin atMedium {
  		flex-direction: row;
	}

    &__service {
    	display: flex;
  		flex-direction: column;
    	border-bottom: 1px solid white;
    	object-fit: contain;
    	flex: 1;
    	justify-content: center;
        padding: 50px 0;

        @mixin atLarge {
            padding: 100px 0;
        }

        & h2 {
            @mixin atMedium {
                margin: 0;
            }
        }

        & a {
            z-index: 1;
        }
    }

    &__info {
        	font-size: .7rem;
        	display: none;
        	flex: 1;
        	align-items: center;

        	&--content {
        		display: flex;
        		flex: 1;
        	}

            @mixin atMedium {
                display: flex;
            }
        } 

    &__exams {
    	background: no-repeat bottom/cover;
    	background-image: linear-gradient(rgba($mainBlue, 0.5), rgba($mainBlue, 0.5)), url(../../assets/images/exams--bg.jpg);
    }

    &__conversation {
    	background: no-repeat bottom/cover;
    	background-image: linear-gradient(rgba($mainBlue, 0.5), rgba($mainBlue, 0.5)), url(../../assets/images/coversation--bg.jpg);
    }

    &__translate {
    	background: no-repeat bottom/cover;
    	background-image: linear-gradient(rgba($mainBlue, 0.5), rgba($mainBlue, 0.5)), url(../../assets/images/translate--bg.jpg);
    }
}