.test-intro {
  font-family: 'Proxima Nova Rg', Georgia, sans-serif;
}

.test__logo {
  width: 150px;
  height: auto;
  margin: 20px auto 0 auto;

  @mixin atMedium {
    margin: 20px 0 0 0;
  }
}

.option-input {
  appearance: none;
  position: relative;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 30px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: $mainBlue;
}
.option-input:checked {
  background: $mainOrange;
}
.option-input:checked::before {
  height: 30px;
  width: 30px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 30px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: $mainOrange;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}

.test-intro label {
  display: block;
  line-height: 30px;
}

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.test__results--hidden {
  display: none;
}

.test__results--show {
  display: block;
}

#btn--trigger {
  cursor: pointer;
}