.welcome {
	height: 470px;
	max-width: 640px;
	margin: 0 auto;
	text-align: center;
	background-color: white;
	position: relative;

	&__content {
		position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        margin: 0 50px;
	}

	
}