.whyus {
	transform: rotateX(180deg);
    padding: 50px 0;

	@mixin atMedium2 {
			padding: 100px 0 50px 0;
		}

	&__image {
		transform: rotateX(180deg);
    	max-width: 640px;
		margin: 0 auto;
		text-align: center;
		position: relative;

		@mixin atMedium2 {
			transform: rotateX(180deg);
			display: inline-block;
        	text-align: center;
        	width: 50%;
		}

        img {
        	width: 60%;
        	margin-top: -80px;


        	/*@mixin atMedium2 {

		}

        	@mixin atLarger {
        		width: 80%;
        	}*/
        }
    }

    &__info {
    	transform: rotateX(180deg);
		width: 100%;
		margin: 0 auto;
		text-align: center;
		position: relative;
		max-width: 640px;

		/*@mixin atMedium2 {
			transform: rotateX(180deg);
			width: 49%;
        	margin-top: 50px;
      	 	
       		text-align: center;
       		text-align: left;
       		display: inline-block;
		}*/
    }

    &__infocount {
    	.counter {
    		width: 33%;
    		float: left;
    		margin-bottom: 50px;
    		text-align: center;

    		.number {
    			margin-bottom: -20px;
    			color: $mainBlue;
    			font-size: 5rem;
    			font-family: 'Proxima Nova Rg', Georgia, sans-serif;
    		}

    		.number-info {
    			color: $mainBlue;
    			font-size: 1.125;
    			font-family: 'Proxima Nova Lt', Georgia, sans-serif;
    		}
    	}
    }
}